<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h3 class="bought-list">購入取引 一覧</h3>
				<% if @tradings.blank? %>
					<h4 class="no-bought">購入した商品はありません</h4>
				<% end %>
					<% @tradings.each do |trading| %>
						<table class="table table-bordered">
							<tbody>
								<tr style="border: 2px #808080 solid;">
									<td width="10%">
										<%= link_to trading_path(trading.id) do %>
											<%= attachment_image_tag trading.product, :image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
										<% end %>
									</td>
									<td width="30%">
										<%= link_to trading.product.name, trading_path(trading.id) %>
									</td>
									<td width="15%">
										<%= number_to_currency(trading.product.price, :unit => "￥", :precision => 0) %>
									</td>
									<td width="25%">
										<% if trading.buyer_id == current_user.id && trading.payment_status == "出品者へ入金報告をする" %>
											<%= link_to "入金してください", trading_path(trading.id), class: "btn btn-danger" %>
											<% if trading.buyer_id == current_user.id && trading.buyer_notice == true %>
												<div><%= link_to "メッセージがきています", trading_path(trading.id), :style=>"font-weight:bold; color:orange" %></div>
											<% end %>
										<% end %>
										<% if trading.buyer_id == current_user.id && trading.payment_status == "入金報告をしました。出品者の発送待ちです" %>
											<%= link_to "発送待ち", trading_path(trading.id), class: "btn btn-info" %>
											<% if trading.buyer_id == current_user.id && trading.buyer_notice == true %>
												<div><%= link_to "メッセージがきています", trading_path(trading.id), :style=>"font-weight:bold; color:orange" %></div>
											<% end %>
										<% end %>
										<% if trading.buyer_id == current_user.id && trading.payment_status == "受取報告をする" %>
											<%= link_to "商品到着後、受取評価してください", trading_path(trading.id), class: "btn btn-danger" %>
											<% if trading.buyer_id == current_user.id && trading.buyer_notice ==true %>
												<div><%= link_to "メッセージがきています", trading_path(trading.id), :style=>"font-weight:bold; color:orange" %></div>
											<% end %>
										<% end %>
										<% if trading.buyer_id == current_user.id && trading.payment_status == "ご利用誠にありがとうございました！" %>
											<%= link_to "取引済", trading_path(trading.id), class: "btn btn-default" %>
										<% end %>
									</td>
									<td width="20%">
										<%= trading.product.created_at.strftime("%Y-%m-%d") %>
									</td>
								</tr>
							</tbody>
						</table>
					<% end %>
		</div>
	</div>
</div>