<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h2 class="order-confirm">
				<% if @barter_request && @barter_request.propriety == "許可する" %>
					<%= "交換取引　確定画面" %>
				<% else %>
					<%= "購入内容の確認" %>
				<% end %>
			</h2>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								<%#= attachment_image @product, :image, format: "jpeg", fallback: "no_image.jpg", size: "130x130", class: "center-block" %>
								<% unless @barter_request && barter_request.propriety == "許可する" %>
									<h3>合計金額 <%= number_to_currency(@product.price, :unit=> "￥", :precision => 0) %></h3>
										<button type="button" class="btn btn-secondary col-xs-2" style="font-weight:bold; background: #999999;">送料 / <%= @product.postage_responsibility %>
										</button>
								<% end %>
							</td>
						</tr>
						<%= form_for(@trading, url: product_tradings_path(@product)) do |f| %>
							<%= f.hidden_field :seller_id, :value => @product.user.id %>
							<%= f.hidden_field :buyer_id, :value => current_user.id %>
						<% unless @barter_request && @barter_request.propriety == "許可する" %>
						<tr>
							<td>
								<%= f.label :"支払方法", class: "col-xs-12" %>
								<%= f.select :paymethod, [["クレジットカード"], ["コンビニ払い"]], class: "col-xs-8" %>
							</td>
						</tr>
						<% end %>
						<tr>
							<td>
								<div class="col-xs-3">お届け先</div>
								<%= current_user.prefecture_code %><%= current_user.address_city %><%= current_user.address_street %>
							</td>
						</tr>
						<tr>
							<td>
								<% if @barter_request && @barter_request.propriety == "許可する" %>
									<%= f.hidden_field :paymethod, :value => "交換" %>
									<%= f.submit "交換取引を確定する", {method: :post, class: "btn-sm btn-success col-xs-12", params:{product_id: @product.id, seller_id: @product.user.id}} %>
								<% else %>
									<%= f.submit "購入を確定する", {method: :post, class: "btn-sm btn-danger col-xs-12", params:{product_id: @product.id, seller_id: @product.user.id}} %>
								<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>
