<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h3 class="sold-list">販売取引 一覧</h3>
				<% if @trading.blank? %>
					<h4 class="no-sold">購入された商品はありません</h4>
				<% end %>
				<% @tradings.each do |trading| %>
					<table class="table table-bordered">
						<tbody>
							<tr style="border: 2px #808080 solid;">
								<td width="10%">
									<%= link_to trading_path(trading.id) do %>
										<%= attachment_image_tag trading.product, :image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
									<% end %>
								</td>
								<td width="30%">
									<%= link_to trading.product.name, trading_path(trading.id) %>
								</td>
								<td width="20%">
									<%= number_to_currency(trading.product.price, :unit => "￥", :precision => 0) %>
								</td>
								<td width="20%">
									<% if trading.seller_id == current_user.id && trading.payment_status == "出品者へ入金報告をする" %>
										<%= link_to "入金待ち", trading_path(trading.id), class: "btn btn-info" %>
										<% if trading.seller_id == current_user.id && trading.seller_notice == true %>
											<div><%= link_to "メッセージがきています", trading_path(trading.id), :style=>"font-weight:bold; color:orange" %></div>
										<% end %>
									<% end %>
									<% if trading.seller_id == current_user.id && trading.payment_status == "入金報告をしました。出品者の発送待ちです" %>
										<%= link_to "出荷してください", trading_path(trading.id), class: "btn btn-danger" %>
										<% if trading.seller_id == current_user.id && trading.seller_notice == true %>
											<div><%= link_to "メッセージがきています", trading_path(trading.id), :style=>"font-weight:bold; color:orange" %></div>
										<% end %>
									<% end %>
									<% if trading.seller_id == current_user.id && trading.payment_status == "受取報告をする" %>
										<%= link_to "受取待ち", trading_path(trading.id), class: "btn btn-info" %>
										<% if trading.seller_id == current_user.id && trading.seller_notice == true %>
											<div><%= link_to "メッセージがきています", trading_path(trading.id), :style=>"font-weight:bold; color:orange" %></div>
										<% end %>
									<% end %>
									<% if trading.seller_id == current_user.id && trading.shipment_status == "購入者を評価する" %>
										<%= link_to "購入者の評価をお願いします", trading_path(trading.id), class: "btn btn-danger" %>
										<% if trading.seller_id == current_user.id && trading.seller_notice == true %>
											<div><%= link_to "メッセージがきています", trading_path(trading.id), :style=>"font-weight:bold; color:orange" %></div>
										<% end %>
									<% end %>
									<% if trading.seller_id == current_user.id && trading.shipment_status == "取引完了" %>
										<%= link_to "取引済", trading_path(trading.id), class: "btn btn-default" %>
									<% end %>
								</td>
								<td width="20%">
									<%= trading.product.created_at.strftime("%Y-%m-%d") %>
								</td>
							</tr>
						</tbody>
					</table>
				<% end %>
		</div>
	</div>
</div>