<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h3 class="request">交換リクエスト</h3>
			<br></br>
			<table class="table table-bordered" style="border: 4px black solid;">
				<tbody>
					<tr bgcolor="#f0e68c">
						<td>
							<h1 class="request" style="text-align: center; color: black; font-size: 55px; text-shadow: 5px 5px 0 #fff">WANTED !</h1>
						</td>
					</tr>
					<tr bgcolor="#f0e68c">
						<td>
							<%= attachment_image_tag @barter_request.product, :image, format: "jpeg", fallback: "no_image.jpg", size: "150x150", class: "center-block" %>
						</td>
					</tr>
				</tbody>
			</table>
			<br></br>
		<h4><span class="request-barter"><%= @barter_request.product.name %></span> に投稿されたリクエスト一覧</h4>
			<br></br>
			<table class="table table-bordered">
				<tbody>
					<% @barter_requests.each do |barter_request| %>
					<tr style="border: 2px #808080 solid;">
						<td>
							<%= link_to barter_request.name, product_barter_request_path(@product, barter_request) %>
						</td>
						<td>
							<%= link_to product_barter_request_path(@product, barter_request) do %>
								<%= attachment_image_tag barter_request, :image, format: "jpeg", fallback: "no_image.jpg", size: "80x80", class: "center-block" %>
							<% end %>
						</td>
						<td>
							<%= barter_request.comment %>
						</td>
						<td>
							<% if current_user == @product.user %>
								<%= form_for(barter_request, url: product_barter_request_path(@product, barter_request)) do |f| %>
									<%= f.select :propriety, BarterRequest.proprieties.keys, class: "col-xs-8" %>
									<%= f.submit "確定" %>
								<% end %>
							<% else %>
								<%= barter_request.created_at.strftime("%Y年%m月%d日") %>
							<% end %>
							<% if current_user == @product.user && barter_request.propriety == "許可する" %>
								<span class="propriety"><%= "リクエストを許可しました" %></span>
							<% end %>

							<% if barter_request.buyer_id == current_user.id && barter_request.propriety == "許可する" && barter_request.product.sale_status != "売り切れ" %>
								<%= button_to "リクエストが承認されました！ 取引画面へ進んでください", new_trading_path, {method: :get, class: "btn-sm btn-danger col-xs-12", params:{product_id: @product.id}} %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

