<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h4 class="my-request-page">交換リクエスト【送った】 一覧</h4>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td class="my-request-page">ほしい商品</td>
							<td></td>
							<td class="my-request-page">提案した商品</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<% @barter_requests.each do |barter_request| %>
							<tr style="border: 3px #808080 solid;">
								<td width="10%">
									<%= link_to product_path(barter_request.product.id) do %>
										<%= attachment_image_tag barter_request.product, :image, format: "jpeg", fallback: "no_image.jpg", size: "60x60", class: "center-block" %>
									<% end %>
								</td>
								<td width="20%">
									<span><%= link_to "ライバルが送ったリクエスト", product_barter_requests_path(barter_request.product.id), :style=>"font-weight:bold;" %></span>
								</td>
								<td width="10%">
									<%= link_to product_barter_request_path(barter_request.product, barter_request) do %>
										<%= attachment_image_tag barter_request, :image, format: "jpeg", fallback: "no_image.jpg", size: "60x60", class: "center-block" %>
									<% end %>
								</td>
								<td width="20%">
									<% if barter_request.propriety != "許可する" && barter_request.product.sale_status != "売り切れ" %>
										<button type="button" class="btn btn-info">リクエスト中</button>
									<% elsif barter_request.propriety == "許可する" && barter_request.product.sale_status != "売り切れ" %>
										<%= button_to "リクエストが許可されました！", new_trading_path, {method: :get, class: "btn-sm btn-warning col-xs-12", params:{product_id: barter_request.product.id}} %>
									<% end %>
								</td>
								<td width="15%">
									<% if barter_request.product.sale_status == "販売中" %>
										<%= link_to "販売中", product_path(barter_request.product.id), class: "btn-sm btn-info" %>
									<% else %>
										<span class="button1"><%= link_to "売り切れました", product_path(barter_request.product.id), class: "btn-sm btn-danger" %></span>
									<% end %>
								</td>
								<td width="10%">
									<%= barter_request.created_at.strftime("%Y-%m-%d") %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>