<div class="container">
	<div class="row">
		<div class="col-xs-10">
		<% if not @barter_requests %>
			<h2>交換希望リクエストです</h2>
			<h2>あなたの自信のある商品をぶつけてみましょう！</h2>
				<br></br>
			<%= form_for(@barter_request, url: product_barter_requests_path) do |f| %>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								<%= f.label :商品名, class: "col-xs-4" %>
								<%= f.text_field :name, class: "col-xs-8" %>
								<%= f.hidden_field :seller_id, :value => @product.user.id %>
								<%= f.hidden_field :buyer_id, :value => current_user.id %>
							</td>
						</tr>
						<tr>
							<td>
								<%= f.label :画像を選択してください, class: "col-xs-4" %>
								<%= f.file_field :image %>
							</td>
						</tr>
						<tr>
							<td>
								<%= f.label :"一言コメントです あなたの思いをぶつけていみましょう!" %>
								<%= f.text_field :comment, class: "col-xs-12" %>
							</td>
						</tr>
						<tr>
							<td>
								<%= f.label :商品の状態, class: "col-xs-4" %>
								<%= f.select :product_condition, BarterRequest.product_conditions.keys, class: "col-xs-8" %>
							</td>
						</tr>
					</tbody>
				</table>
				<%= f.label :商品説明 %>
				<%= f.text_area :introduction, size: "20x10", class: "col-xs-12 book_body" %>
				<%= f.submit "リクエストを送信", class: "btn btn-primary col-xs-12" %>
			<% end %>
		<% else %>
			<h2>「<%= @product.name %>」には既に交換リクエストを送っている為、<br>
				送ることができません
			</h2>
		<% end %>
	    </div>
	</div>
</div>