<div class="container">
  <div class="row">
  	<div class="ranking col-xs-3">
  	  <h4 class="ranks-title">
  		  <% if @category %>
  		    <p><%= @category.name %></p>
  			<p><%= "交換ランキング" %></p>
  		  <% else %>
  			<p><%= "全カテゴリー内" %></p>
  			<p><%= "交換人気ランキング" %></p>
  		  <% end %>
  	  </h4>
  	  <table class="table table-bordered">
  	    <tbody>
  	      <% if @ranks.blank? %>
  	        <tr class="ranks-images">
  	          <td>
  	          	<%= "まだ集計は行われていません" %>
  	          </td>
  	        </tr>
  	      <% end %>
  	    </tbody>
  	  </table>
  	</div>
  	<div class="col-xs-8">
  	  <h3 class="all-products">商品一覧 全<%= @products.total_count %>件</h3>
  	  <% @products.each do |product| %>
  	    <div class="col-xs-3">
  	      <div class="products-index-image">
  	        <div class="sale-status-2">
  	          <%= link_to product_path(product.id) do %>
  	            <% if product.sale_status !="販売中" %>
  	              <%= link_to "売切", product_path(product.id), class: "btn-sm btn-danger" %>
  	            <% elsif product.sale_status == "販売中" && product.propriety == "交換可能" %>
  	              <%= link_to "販売中", product_path(product.id), class: "btn-sm btn-info" %>
  	            <% end %>
  	          <% end %>
  	        </div>
  	        <%= link_to product_path(product.id) do %>
  	          <%= attachment_image_tag product, :image, format: "jpeg", fallback: "no_image.jpg", size: "130x130", class: "center-block" %>
  	        <% end %>
  	      </div>
  	    <% end %>
  	  <div class="pagenate"><%= paginate @products, class: "pagenate" %></div>
  	</div>
  </div>
</div>
