<div class="container">
  <div class="row">
	  <div class="col-xs-10">
		  <% if flash[:notice] && flash[:notice] != "Signed in successfully." && flash[:notice] != "Welcome! You have signed up successfully." %>
	        <h3 class="image-annotation"><%= flash[:notice].html_safe %></h3>
		  <% end %>
		  <h2 class="exhibition">出品</h2>
			<%= form_for(@product) do |f| %>
			  <table class="table table-bordered">
			      <tbody>
			    	<tr>
			    	  <td>
			    		<div class="col-xs-4"><%= f.label :画像を選択してください %>
			    		  <span class="emphasis"> (必須)</span>
			    		</div>
			    		<%= f.file_field :image %>
			    		<div class="col-xs-4"><%= f.label :商品名 %>
			    		  <span class="emphasis"> (必須)</span>
			    		</div>
			    		<%= f.text_field :name, class: "col-xs-8" %>
			    	  </td>
			    	</tr>
			    	<tr>
			    	  <td>
			    	  	<div class="col-xs-4">
			    	  	  <%= f.label :カテゴリー %>
			    	  	    <span class="emphasis"> (必須)</span>
			    	  	</div>
			    	  	  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "--選択してください", class: "col-xs-8" %>
			    	  </td>
			    	</tr>
			    	<tr>
			    	  <td>
			    	  	<div class="col-xs-4"><%= f.label :商品の状態 %>
			    	  	  <span class="emphasis"> (必須)</span>
			    	  	</div>
			    	  	<%= f.select :status, Product.statuses.keys, include_blank: "--選択してください--", selected: 0, class: "col-xs-8" %>
			    	  </td>
			    	</tr>
			    	<tr>
			    	  <td>
			    	  	<div class="col-xs-2">
			    	  	<%= f.label :販売価格 %>
			    	  	  <span class="emphasis"> (必須)</span>
			    	  	</div>
			    	  	<%= f.text_field :price, id: "price" %>円 (販売手数料 10%分が差し引かれます)
			    	  	<%= f.label :"受取金額", class: "col-xs-offset1" %>
			    	  	<%= f.text_field :profit, id: "profit" %>
			    	  </td>
			    	</tr>
			    	<tr>
			    	  <td>
			    	  	<span><%= f.label :交換取引の可否, class: "col-xs-2" %></span>
			    	  	<span><%= f.select :propriety, Product.proprieties.keys, class: "col-xs-8" %></span>
			    	  	<span class>
			    	  	  <span class="about-barter">「交換可能」</span>に設定しておくと思わぬお宝が提案されるかもしれません !
			    	  	</span>
			    	  </td>
			    	</tr>
			      </tbody>
			    </table>
			    <%= f.label :商品説明 %>
			    <%= f.text_area :introduction, size: "20x10", class: "col-xs-12" %>
			    <%= f.submit "出品する", class: "btn btn-primary col-xs-12" %>
			<% end %>
	  </div>
  </div>
</div>

<!-- <script>
$("#price").keyup(function(){
  var s = $("#price").val();
  var sa = parseInt(s);
  var sb = 0.9

  var profit = sa * sb

  $("#profit").val(profit)
});
</script> -->