<div class="container">
  <h3 class="user_sign_in">会員の方はこちらからログイン</h3>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, placeholder: "メールアドレスを入力", autofocus: true, autocomplete: "email", class: "col-xs-12" %></td>
            </tr>
            <tr>
              <td>パスワード</td>
              <td><%= f.password_field :password, placeholder: "パスワードを入力", autocomplete: "current-password", class: "col-xs-12" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "ログイン", class: "btn btn-danger col-xs-4 col-xs-offset-4" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-2">
        <h3>登録がお済みでない方</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= link_to "こちら", new_user_registration_path %>から新規登録を行ってください。
      </div>
    </div>
</div>