<!DOCTYPE html>
<html>
  <head>
    <title>Carand2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" style="background-color:#f79428;">
      <nav class="nav navbar-nav navbar-left">
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 11px"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 11px"></span>
        <%= link_to root_path do %>
          <span class="title">カランド</span>
        <% end %>
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 8px"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 8px"></span>
      </nav>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-center">
          <span class="search">
            <%= form_with url: product_search_path, method: :get, data: {remote: false} do |f| %>
              <%= f.text_field :name, placeholder: "何をお探しですか？" %>
          </span>
            <button type="submit" class="btn btn-default glyphicon glyphicon-zoom-in"></button>
            <% end %>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              カテゴリーからもお探しできます
            <span class="caret"></span>
            </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "全て", products_path %>
          </li>
          <li>
            <% Category.all.each do |category| %>
          </li>
          <li>
            <%= link_to category.name, products_path(category_id: category.id) %>
          </li>
            <% end %>
        </ul>
          </div>
        </ul>
      <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? && !request.fullpath.include?("administers") %>
            <% if BarterRequest.where(buyer_id: current_user.id, notice: true).count != 0 %>
              <div class="alert alert-info" role="alert"><%= link_to "リクエストが許可されました", my_request_barter_requests_path(current_user.id) %></div>
            <% end %>
            <% if Product.where(user_id: current_user.id, notice: false).count != 0 %>
              <div class="alert alert-info" role="alert"><%= link_to "交換リクエストがきています 内容を覗いてみましょう", requested_barter_requests_path %></div>
            <% end %>
            <% if Trading.where(buyer_id: current_user.id, buyer_notice: true).where("(payment_status = ?) OR (payment_status = ?) OR (payment_status = ?)", 0, 1, 2).count != 0 %>
              <div class="alert alert-info" role="alert"><%= link_to "出品者よりメッセージがあります", bought_tradings_path %></div>
            <% end %>
            <% if Trading.where(seller_id: current_user.id, seller_notice: true).where("(shipment_status = ?) OR (shipment_status = ?) OR (shipment_status = ?)", 0, 1, 2).count != 0%>
              <div class="alert alert-info" role="alert"><%= link_to "購入者よりメッセージがあります", sold_tradings_path %></div>
            <% end %>
            <% if Trading.where(buyer_id: current_user.id, buyer_notice: true).where("(payment_status = ?) OR (payment_status = ?)", 4, 5).count != 0 %>
              <div class="alert alert-info" role="alert"><%= link_to "交換者よりメッセージがあります", barter_tradings_path %></div>
            <% end %>
            <% if Trading.where(seller_id: current_user.id, seller_notice: true).where("(shipment_status = ?) OR (shipment_status = ?)", 4, 5).count != 0 %>
              <div class="alert alert-info" role="alert"><%= link_to "交換者よりメッセージがあります", barter_tradings_path %>
            <% end %>
              </div>
            <% if Trading.where(seller_id: current_user.id, payment_status: "出品者へ入金報告する").count != 0 %>
              <div class="alert alert-info" role="alert"><%= link_to "商品が購入されました 入金を待っています", sold_tradings_path %>
            <% end %></div>
            <li class="wishlists"><%= link_to "ほしいものリスト", wish_wishlists_path %></li>
            <li>
              <span class="trading-list">
                <%= link_to "買った！", bought_tradings_path %>
                  <% if Trading.where("(payment_status = ?) OR (payment_status = ?)", 0, 2).where("(paymethod = ?) OR (paymethod = ?)", 0, 1).where(buyer_id: current_user.id).count == 0 %>
                    <span class="badge1">
                      <span class="badge", style="color: white;">
                        <%= Trading.where("(payment_status = ?) OR (payment_status = ?)", 0, 2).where("(paymethod = ?) OR (paymethod = ?)", 0, 1).where(buyer_id: current_user.id).count %>
                      </span>
                    </span>
                  <% else %>
                    <span class="badge2">
                      <span class="badge", style="color: white;">
                        <%= Trading.where("(payment_status = ?) OR (payment_status = ?)", 0, 2).where("(paymethod = ?) OR (paymethod = ?)", 0, 1).where(buyer_id: current_user.id).count %>
                      </span>
                    </span>
                  <% end %>
              </span>
            </li>
            <li>
              <span class="trading-list">
                <%= link_to "売れた！", sold_tradings_path %>
                  <% if Trading.where("(payment_status = ?) OR (shipment_status = ?)", 1, 2).where("(paymethod = ?) OR (paymethod = ?)", 0, 1).where(seller_id: current_user.id).count == 0 %>
                    <span class="badge3">
                      <span class="badge", style="color: white;">
                        <%= Trading.where("(payment_status = ?) OR (shipment_status = ?)", 1, 2).where("(paymethod = ?) OR (paymethod = ?)", 0, 1).where(seller_id: current_user.id).count %>
                      </span>
                    </span>
                  <% else %>
                    <span class="badge4">
                      <span class="badge", style="color: white;">
                        <%= Trading.where("(payment_status = ?) OR (shipment_status = ?)", 1, 2).where("(paymethod = ?) OR (paymethod = ?)", 0, 1).where(seller_id: current_user.id).count %>
                      </span>
                    </span>
                  <% end %>
              </span>
            </li>
            <li>
              <span class="trading-list">
                <%= link_to "交換！", barter_tradings_path %>
                  <% if Trading.where("((payment_status = ?) OR (shipment_status = ?)) OR ((payment_status = ?) OR (shipment_status = ?))", 4, 4, 5, 5).where("((buyer_id = ?) OR (seller_id = ?))", current_user.id, current_user.id).count == 0 %>
                    <span class="badge3">
                      <span class="badge", style="color: white;">
                        <%= Trading.where("((payment_status = ?) OR (shipment_status = ?)) OR ((payment_status =?) OR (shipment_status = ?))", 4, 4, 5, 5).where("((buyer_id = ?) OR (seller_id = ?))", current_user.id, current_user.id).count %>
                      </span>
                    </span>
                  <% else %>
                    <span class="badge4">
                      <span class="badge", style="color: white;">
                        <%= Trading.where("((payment_status = ?) OR (shipment_status = ?)) OR ((payment_status = ?) OR (shipment_status = ?))", 4, 4, 5, 5).where("((buyer_id = ?) OR (seller_id = ?))", current_user.id, current_user.id).count %>
                      </span>
                    </span>
                  <% end %>
              </span>
            </li>
            <li class="mypage"><%= link_to "マイページ", user_path(current_user) %></li>
          <% elsif administer_signed_in? && request.fullpath.include?("administers") %>
            <ul class="nav navbar-nav navbar-right">
              <li class="administer-menu"><%= link_to "通報", administers_reports_path %></li>
              <li class="administer-menu"><%= link_to "カテゴリー", administers_categories_path %></li>
              <li class="administer-sign_out"><%= link_to "ログアウト", destroy_administer_session_path, method: :delete, :style=>"color:black;" %></li>
            </ul>
          <% elsif request.fullpath.include?("administers") %>
            <ul class="nav navbar-nav navbar-right">
              <li class="sign_in"><%= link_to "管理者ログイン", new_administer_session_path %></li>
              <li class="sign_up"><%= link_to "新メンバー登録", new_administer_registration_path %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li class="about_us"><%= link_to "カランドって何？", about_us_homes_path %></li>
              <li class="about_in"><%= link_to "ログイン", new_user_session_path %></li>
              <li class="sign_up"><%= link_to "新規会員登録", new_user_registration_path %></li>
            </ul>
          <% end %>
    </header>
    <%= yield %>
  </body>
</html>
